body {
    font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.container {
    position: relative;
}

.box {
    background: rgba(255,255,255,0.8);
    padding: 20px;
    border: thick solid #ffffff;
    margin-top: 20px;
    border-radius: 20px;
}

.circle{
    text-align: center;
    width: 264px;
    height: 264px;
    border-radius: 100%;
    background-color: #ffffff;
    padding-top: 7px;
}

.active-border{
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    padding-top: 17px;
    padding-left: 17px;
    margin: 0 auto;
}

.active-border.inner {
    width: 250px;
    height: 250px;
    padding-top: 10px;
    padding-left: 10px;    
}

.active-border.inner .circle {
    width: 230px;
    height: 230px; 
}

.circle .time {
    font-size: 30px;
    color: #A3A3A3;
}

#activeBorderWeeks .circle .time {    
    margin-top: 85px;
}

#activeBorderDays .circle .time {
    margin-top: 70px;
}

.circle .time span {
    display: block;
    font-size: 60px;
    line-height: 50px;
    color: #6E6E6E;
}

.headline {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.grid-holder {
    position: fixed;
    width: 100%;
    height: 100%;
}

.grid-container { 
  float: left;
  display: block;
  position: relative;
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
}

.grid {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 2s;
     -moz-transition: -moz-transform 2s;
       -o-transition: -o-transform 2s;
          transition: transform 2s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.grid.flipped, .grid .back {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.grid figure {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  position: absolute;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.colour-1 {
  background: #A27AFE;
}
.colour-2 {
  background: #D0BCFE;
}
.colour-3 {
  background: #A5DBEB;
}
.colour-4 {
  background: #57BCD9;
}
.colour-5 {
  background: #62A9FF;
}
.colour-6 {
  background: #5757FF;
}
.colour-7 {
  background: #F5F7C4;
}
.colour-8 {
  background: #EDEF85;
}

.girl .colour-1 {
    background: #D568FD;
}
.girl .colour-2 {
    background: #9669FE;
}
.girl .colour-3 {
    background: #DD88FD;
}
.girl .colour-4 {
    background: #AD8BFE;
}
.girl .colour-5 {
    background: #E7A9FE;
}
.girl .colour-6 {
    background: #C4ABFE;
}
.girl .colour-7 {
    background: #F0CBFE;
}
.girl .colour-8 {
    background: #DDCEFF;
}

.boy .colour-1 {
    background: #5757FF;
}
.boy .colour-2 {
    background: #62A9FF;
}
.boy .colour-3 {
    background: #7979FF;
}
.boy .colour-4 {
    background: #86BCFF;
}
.boy .colour-5 {
    background: #9999FF;
}
.boy .colour-6 {
    background: #99C7FF;
}
.boy .colour-7 {
    background: #BBBBFF;
}
.boy .colour-8 {
    background: #BBDAFF;
}

#activeBorderDays .circle .time.day {
    margin-top: 25px;
}

#activeBorderDays .circle .time.hour {
    margin-top: 25px;
}

.circle .time.day, .circle .time.hour {
    font-size: 25px;
}

.circle .time.day span, .circle .time.hour span {
    font-size: 30px;
    line-height: 28px;   
}

.circle .time.seconds, .circle .time.minutes {
    font-size: 16px;
}

.circle .time.seconds span, .circle .time.minutes span {
    font-size: 20px;
    line-height: 28px;   
}

.heart {
    color: #575757;
}

.heart {
    font-size: 110px;
    -webkit-animation-name: heartbeat;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@-webkit-keyframes heartbeat {
    0%   {font-size: 110px; margin-top:0px;}
    40%  {font-size: 130px; margin-top:-10px;}
    50%  {font-size: 120px; margin-top:-5px;}
    60%  {font-size: 130px; margin-top:-10px;}
    100% {font-size: 110px; margin-top:0px;}
}


@keyframes heartbeat {
    0%   {font-size: 110px; margin-top:0px;}
    40%  {font-size: 130px; margin-top:-10px;}
    50%  {font-size: 120px; margin-top:-5px;}
    60%  {font-size: 130px; margin-top:-10px;}
    100% {font-size: 110px; margin-top:0px;}
}





.born .circle{
    width: 148px;
    height: 148px;
    padding-top: 7px;
}

.born .active-border{
    width: 170px;
    height: 170px;
    padding-top: 10px;
    padding-left: 10px;
}

.born .active-border.inner {
    width: 134px;
    height: 134px;
    padding-top: 8px;
    padding-left: 8px;
}

.born .active-border.inner .circle {
    width: 117px;
    height: 117px; 
}

.born .circle .time {
    font-size: 30px;
 }

.born #activeBorderWeeks .circle .time {    
    margin-top: 35px;
}

.born #activeBorderDays .circle .time {
    margin-top: 20px;
}

.born .circle .time span {
    font-size: 40px;
    line-height: 30px;
}

.born #activeBorderDays .circle .time.day {
    margin-top: 10px;
}

.born #activeBorderDays .circle .time.hour {
    margin-top: 10px;
}

.born .circle .time.day, .born .circle .time.hour {
    font-size: 18px;
}

.born .circle .time.day span, .born .circle .time.hour span {
    font-size: 24px;
    line-height: 18px;   
}

.born .circle .time.seconds, .born .circle .time.minutes {
    display: none;
}

.photos {
    margin-top: 40px;
}

.born .text-column {
    margin-top: 40px;
}

.born .text-column h1 {
    margin-bottom: 30px;
}

.born .text-column h2 {
    margin-bottom: 0px;
}

.born .text-column .headline {
    margin-top: 5px;
    margin-bottom: 20px;
}

.photo {
    border-radius: 20px;
}

.born .heart {
    font-size: 80px;
    margin-top: 12px;
    -webkit-animation-name: heartbeat-born;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-name: heartbeat-born;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@-webkit-keyframes heartbeat-born {
    0%   {font-size: 80px; margin-top:12px;}
    40%  {font-size: 100px; margin-top:2px;}
    50%  {font-size: 90px; margin-top:7px;}
    60%  {font-size: 100px; margin-top:2px;}
    100% {font-size: 80px; margin-top:12px;}
}


@keyframes heartbeat-born {
    0%   {font-size: 80px; margin-top:12px;}
    40%  {font-size: 100px; margin-top:2px;}
    50%  {font-size: 90px; margin-top:7px;}
    60%  {font-size: 100px; margin-top:2px;}
    100% {font-size: 80px; margin-top:12px;}
}

.born-panel {
    display: none;
}

.born .born-panel {
    display: block;
}

.due-panel {
    display: block;
}

.born .due-panel {
    display: none;
}

@media (max-width: 580px) {
  .counter {
    display: none;
  }
}
